html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}
main {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
