.team-list {
  max-width: 1200px;
  margin: 0 auto;
}
.team-list__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-list__item {
  padding: 0.5rem 0;
}
.team-list__link {
  color: #0a66c2;
  text-decoration: none;
}
.team-list__link:hover {
  text-decoration: underline;
}
